.seccionContacto section {
    @include ajustePantalla(100%, 605px);
}

.seccionContacto h2 {
    font-size: 40px;
}

.mb-3 {
    @include displayAlign(grid, center);
    width: 50%;
    align-content: center;
}

.form-select {
    @include displayAlign(block, center);
    text-align: center;
    width: 35%;
    margin-bottom: 10px;
}

.btn {
    background-color: orangered;
}