.seccionContacto section{
    height: 605px;
    width: 100%;
}
.seccionContacto h2{
    font-size: 40px;
}

.mb-3{
    display: grid;
    width: 50%;
    align-items: center;
    align-content: center;
}

.form-select {
    display: block;
    align-items: center;
    text-align: center;
    width: 30%;
    margin-bottom: 10px;
}
.btn{
    background-color: orangered;
}