@media screen and (min-width: 320px) and (max-width:767px) {

    /* header nav */
    header {
        height: auto;
    }

    .navbar-toggler-icon {

        color: white;
        font-size: 50%;
        width: 100px;
        border: 1px orange solid;
        border-radius: 30px;
        align-content: center;
        align-items: center
    }

    nav.navbar-expand-lg.navbar-black.bg-black {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        margin-top: -35px;
        padding-bottom: 0.5rem;
        height: -webkit-fill-available;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        align-items: center;
        text-align: center;
    }

    .navbar-nav .dropdown-menu:focus .navbar-nav .dropdown-menu:hover {
        background-color: orange;
        color: white;
    }

    .dropdown-item .nav_menu li a {
        background-color: orange;
    }

    .dropdown-menu li a {
        color: white;
        font-weight: bolder;
        background-color: #ff5e00f0;
        border: 1px solid white;
        border-radius: 50px;
        width: 60%;
        margin: 5px auto;
    }

    .encabezado_nav_home {
        display: grid;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 130%;
        height: 200px;
    }

    /* fin header-nav */
    /* index main */

    .ajuste_pantalla {
        width: 100%;
        height: fit-content;
        font-size: 8%;
        justify-items: auto;
        align-items: center;
    }

    .bienvenidos_titulo_parrafo {
        margin-bottom: 0px;
        font-size: 50%;
        font-weight: bold;
    }

    .bienvenidos_titulo {
        display: flex;
        padding: 16px 16px 16px 16px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 70%;
        justify-content: center;
    }

    .productos_container_img {
        width: 80%;
        height: 80%;
        margin: 0;
        padding: 0;
    }

    div.card {
        margin: 2px auto 10px auto;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: black;
        color: white;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        align-items: center;
    }

    section.productos_container {
        display: grid;
        align-items: center;
        height: auto;
        justify-items: center;
        align-content: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* fin index main */

    /* catalogo main */
    .titulo_catalogo {
        margin-top: 25px;
    }

    .ajuste_pantalla_catalogo {
        height: fit-content;
    }

    .height_catalogo_secciones {
        height: fit-content;
    }

    .seccion_categoria {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 200px 200px 200px 200px;
        gap: 100px 0px;
        justify-content: center;
        margin-top: 100px;

        div {

            /* display: grid; */
            align-items: center;
            text-align: bottom;
            height: 100%;
            padding-top: 10px;
            justify-content: center;
            padding-top: 50px;
            margin-bottom: 100%;
            width: 100%;

            h3 {
                display: flex;
                align-items: center;
                width: auto;
                text-align: center;
                justify-content: center;
                font-size: 120%;
                margin-bottom: 30px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }
        }
    }

    /* Fin catalogo-main */

    .mb-3 {
        input {
            font-size: 40%;
        }
    }

    .seccionContacto section {
        height: 700px;
        width: 100%;
    }

    .seccionContacto h2 {
        font-size: 150%;
        margin-top: 0%;
        padding-top: none;
        padding-bottom: 25px;
    }

    .seccion_nosotros {
        height: 1200px;
        width: 100%;
    }

    .h4 {
        font-size: 50%;
    }


    .form-select {
        display: block;
        align-items: center;
        text-align: center;
        font-size: 60%;
    }

    .encabezado_menu_item {
        display: inline-block;
        border: 1px solid white;
        padding: 2px;
        margin: 8px;
    }

    .productos {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
        justify-items: center;
        align-content: space-between;
        height: auto;
    }

    .producto_categorias img {
        width: 10px;
        height: 20px;
        justify-items: left;
        justify-content: left;
        margin: 10px;
        padding: 0%;
    }

    .producto_categorias h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .producto_categorias h2 {
        font-size: 20px;
        margin: auto;
    }

    /* ubicacion */
    .mapa iframe {
        height: 350px;
        width: fit-content
    }

    .seccion_ubicacion {
        h3 {
            margin: 10px auto 20px auto;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
        }

        p {
            margin: 10px auto 20px auto;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 100%;
            font-weight: bolder;
        }
    }

    /* FIN UBICACION */

    /* nosotros */
    .div_nosotros_chancletas {

        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        height: 100%;

        h2 {
            color: black;
            font-size: 30px;
        }
    }

    .div_nosotros {

        font-size: 20px;
        height: 100%;
        margin-bottom: 10px;
        margin-top: 10px;

        h2 {
            font-size: 30px;
            color: black;
        }

    }

    /* FIN NOSOTROS */
    /* footer */
    .footer {
        @include ajustePantalla(auto, auto);
        background-color: map-get($colores, colorFooter);
        color: map-get($colores, textColorF);
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2px;

        span {

            flex-direction: row;
            color: white;
            justify-content: left;
            margin-left: 0px;
            padding-top: 0px;
            margin-right: 0px;
            font-size: 8px;
        }

        div {

            margin: 0%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            padding: 0px;
            width: 100%;
        }

        ul {
            list-style: none;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0px;
            width: 100%;

            li {
                margin-top: 0;
                padding: 0px;
                margin-bottom: 0;
                height: 5%;
                font-size: 30%;
                margin-right: 0;
                margin-left: -8px;
            }

            h4 {
                font-size: 10px;
                padding: 0px;
                margin: 1px;
            }

            img {
                height: 20px;
                width: 20px;
            }
        }
    }

    .font_h4 {
        font-size: 3px;
    }

    /* final footer */
}

@media screen and (min-width:768px) and (max-width:1439px) {

    /* header nav */
    header {
        height: auto;
    }

    .navbar-toggler-icon {

        color: white;
        font-size: 50%;
        width: 100px;
        border: 1px orange solid;
        border-radius: 30px;
        align-content: center;
        align-items: center
    }

    nav.navbar-expand-lg.navbar-black.bg-black {
        display: flex;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        margin-top: -35px;
        padding-bottom: 0.5rem;
        height: -webkit-fill-available;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        align-items: center;
        text-align: center;
    }

    .navbar-nav .dropdown-menu:focus .navbar-nav .dropdown-menu:hover {
        background-color: orange;
        color: white;
    }

    .dropdown-item .nav_menu li a {
        background-color: orange;
    }

    .dropdown-menu li a {
        color: white;
        font-weight: bolder;
        background-color: #ff5e00f0;
        border: 1px solid white;
        border-radius: 50px;
        width: 60%;
        margin: 5px auto;
    }

    .encabezado_nav_home {
        display: grid;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: 130%;
        height: 200px;
    }

    /* fin header-nav */
    .ajuste_pantalla {
        width: 100%;
        height: fit-content;
    }

    .ajuste_pantalla_catalogo {
        width: 100%;
        height: fit-content;
    }

    /* index */
    section.productos_container {
        display: grid;
        align-items: center;
        height: auto;
        justify-items: center;
        align-content: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    div.card {
        margin: 2px auto 10px auto;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: black;
        color: white;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        align-items: center;
    }

    /* fin index */
    .height_catalogo_secciones {
        height: fit-content;
        width: 100%;
    }

    .titulo_catalogo {
        margin-top: 20px;
    }

    .seccion_categoria {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 200px;
        gap: 100px 0px;
        justify-content: center;
        margin-top: 100px;

        div {
            display: grid;
            align-items: center;
            text-align: bottom;
            height: auto;
            display: inline-block;
            margin-bottom: 100px;
        }
    }

    .mapa iframe {
        height: 450px;
        width: 600px;
    }

    /* footer */
    .footer {
        @include ajustePantalla(auto, auto);
        background-color: map-get($colores, colorFooter);
        color: map-get($colores, textColorF);
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2px;

        span {

            flex-direction: row;
            color: white;
            justify-content: left;
            margin-left: 0px;
            padding-top: 0px;
            margin-right: 0px;
            font-size: 8px;
        }

        div {

            margin: 0%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            padding: 0px;
            width: 100%;
        }

        ul {
            list-style: none;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0px;
            width: 100%;

            li {
                margin-top: 0;
                padding: 0px;
                margin-bottom: 0;
                height: 5%;
                font-size: 30%;
                margin-right: 0;
                margin-left: -8px;
            }

            h4 {
                font-size: 10px;
                padding: 0px;
                margin: 1px;
            }

            img {
                height: 20px;
                width: 20px;
            }
        }
    }

    .font_h4 {
        font-size: 3px;
    }

}